/* Empty. Add your own CSS if you like */


#astuce-container{
	background: url(../img/astuce.png) no-repeat center center / cover;
    height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 200;
    transition: all .5s ease;
}
.hidden{
	opacity: 0;
	transition: all .5s ease;
	pointer-events: none;
}
#astuces{
	color: #ffffff;
    font-size: 1em;
    text-align: center;
    padding: 0 40px;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

a.item-content span{
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  right: 40px;
  transform: translateY(-50%);
  top: 50%;
  background: url(../img/msn.png);
  background-size: contain;
  text-align: center;
  color: white;
  font-size: 12px;
}
.checked .ion-checkmark:before{
  color:green;
}

.item.activated{
  background:#fff;
}

.btnStylay{
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background: #f7aa10;
  border: none;
  color: #fff;
  padding: 12px;
  font-weight: bold;
}

label{
  font-size: 14Px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
input#cameratext{
  width:100%;
  border: 1px solid black;
  padding-left: 10px;
}



img.selected{
  border:4px solid green
}

h2{
  font-family:"Jaldi"
}

#username{
    width: 0%;
    overflow: hidden;
    transition: all ease-out 0.7s 0.5s;
}

#username a{
    z-index: 40;
    position: relative;
    background: #fff;
    padding: 20px 0;
    top: 0;
    font-family:"Jaldi", sans-serif;
    width:100vw;
    display: inline-block;
    text-decoration: none;
    color: #202020;
    font-weight: bold;
    text-transform: uppercase;
}

#username img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 20px;
    vertical-align: -6px;
}

.pane{
    background:url(../img/interior.png);
}

.pane[state="tab.dash"]{
    background:url(../img/screen-ios.png);
}

.tab-nav.tabs{
  top:auto;
}

.has-tabs-top{
    top:0;
}

.overflow-scroll .scroll, .scroll{
    height:auto;
    margin-top:100px;
    padding: 10px;
    font-family:"Work Sans";
    padding-bottom: 50px;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 22px;
    font-size: 22px;
    margin-top: 6px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active > .badge, .tabs-top.tabs-striped .tab-item.tab-item-active > i, .tabs-top.tabs-striped .tab-item.active > .badge, .tabs-top.tabs-striped .tab-item.active > i, .tabs-top.tabs-striped .tab-item.activated > .badge, .tabs-top.tabs-striped .tab-item.activated > i{
    margin-top:5px;
}


#play{
  width: 100vw;
  display: inline-block;
  position: absolute;
  left: -10px;
  top: -15px;
  height: calc(100vh - 150px);
  text-align: center;
  line-height: 400px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#icontap{
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  -webkit-animation: fade ease-out 1s infinite;
       -moz-animation: fade ease-out 1s infinite;
         -o-animation: fade ease-out 1s infinite;
            animation: fade ease-out 1s infinitee;
  opacity:0.5;
}

@-webkit-keyframes fade { 0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;} }
   @-moz-keyframes fade { 0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}  }
     @-o-keyframes fade { 0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}  }
        @keyframes fade { 0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}  }
